*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --clr-white: #fff;
    --bg-clr-1: #e0c15a;
    --bg-clr-2: #e28d75;

    --fs-h1: 1.5rem;
}
body{
    background-image: linear-gradient(120deg, var(--bg-clr-1), var(--bg-clr-2));
    color: var(--clr-white);
    min-height: 100vh;
}

header{
    font-size: var(--fs-h1);
}

header, form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: var(--clr-white);
}

form button{
    color: var(--bg-clr-2);
    background: var(--clr-white);
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background: var(--bg-clr-2);
    color: var(--clr-white);
}